@use "../utils/_mixins.scss" as *;
@use "../utils/_variables.scss" as *;

.wrapper-exercices {
  
    .background-exercice {
      position: sticky;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: .7;
      height: 500px;
      min-width: 100%;
    }

    .fitness-exercices {

        .exercice-select {
          padding: 25px;

          .block-items {
      
              .items {
                display: inline-block;
                text-align: center;
                margin: auto;
                width: 100%;
      
                i {
                  font-size: 24px;
                  margin-right: 10px;
                }
      
                h3 {
                  display: inline;
                  font-weight: lighter
                }
              }
            }
          
          @include icons;
          
          .select-block {
          margin: 20px auto 35px;

          .category-item {
            background-color: rgba(228, 207, 183, .2);
          }      
        }
          
          .select-option {
            gap: 2em;
            padding: 25px;
            display: flex;
            justify-content: center; 
            align-items: center;
         
            .select {
              border: .5px solid rgba(0, 0, 0, .4);
              border-radius: 50%;
              width: 100px;
              height: 100px;
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
              background-color: rgba(228, 207, 183, .2);

              p {
                text-align: center;
                font-size: 14px;
                font-weight: 800;
                line-height: 5;
              }   
            }
          }
        }
      }

  @media (max-width: 450px) {
    .select-option {
      display: flex;
      flex-direction: column; 
    }
  }

  @media (min-width: 1100px) {
 
    .filter-container {
      display: flex;
      gap: 2em;
      justify-content: center;
    }
  }
}
 