@use "../../../style/utils/variables" as *;
@use "../../../style/utils/mixins" as *;

.modal-wrapper {

    .exercice-crud {
        display: block;
        margin: 30px auto;

        .btn-open {
            display: block;
            margin-inline: auto;
            background-color: $color-blue-light;
            border-radius: 5px;
            border: .1px solid rgba(0, 0, 0, .4);
            cursor: pointer;
            font-weight: 600;
            width: 200px;
            padding: 10px;
                
             i {
                margin-bottom: 1em;
             }
        }
    }
    .form-crud {
    max-width: 450px;
    width: 100%;
    display: none;
    border: .5px solid rgba(0, 0, 0, .4);
    border-radius: 10px;
    @include crudForm;

   }

}


