
.wrapper {
    width: 300px;
    margin: auto;
    padding: 1em;
    border: .1px solid rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 3;
    border-radius: 10px;
    background-color: #f0f0f0;

        i {
          font-size: 30px;
          margin-top: 0.8em;
        }

        #chrono {
          font-size: 25px;
        }

        .btn-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto;
          gap: 1em;

            button {
              cursor: pointer;
              padding: 0.5em;
              height: 40px;
              width: 100px;
              border-radius: 10px;
              border: .1px solid rgba(0, 0, 0, .4);
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
              font-weight: 700;
              
              &:hover {
                background-color: #e4e3e3;
              }
        }
    }
}

  .wrapper-chronometrer {
    @media (min-width: 1150px) {
    grid-area: 1 / 1 / 2 / 2;
    }
  }