@use "../utils/_variables.scss" as *;

.container-exercice {
padding-top: 35px;
margin-inline: auto;

  
    h1 {
      font-size: 35px;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 22px;

      span {
        color: $color-blue-dark;
        font-weight: 700;
      }
    }

    .media-block {
      position: relative;
      width: 100%;
      max-width: 400px;
      margin: auto;

    
      .fa-circle-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 75px;
        cursor: pointer;

        .fa-circle-play:hover::after {
          height: 100%;
        }
      
      }
    
      .exercice-picture {
        height: 350px;
        width: 100%;
        max-width: 500px;
        margin: auto;
        border: solid black 1px;
        transition: transform 0.5s;
      }
    
      .gradient-layer {      
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent, #f0f0f0);
        opacity: 0;
        transition: opacity 0.3s ease;

          p {
            font-weight: 800;
            margin-top: 150px;
          }
      }
    
      &:hover .gradient-layer {
        opacity: 1;
      }
    }
  }
            .container-content {
              flex-direction: column;
            
                h2 {
                  text-decoration: none;   
                span {
                  color: $color-blue-dark;
                }
            }

            .programme-block {     
              display: flex;
              justify-content: center;      
              gap: 1em;
              border: .1px solid rgba(0, 0, 0, .4);
              width: 350px;
              margin: auto;
              border-radius: 30px;
              padding: 20px;
              background-color: #f0f0f0;
              font-size: 17px;
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    
                .programme-content {
                    p {
                      text-decoration: underline;
                    }   
                }
                .programme-items {
                        p {
                          font-weight: 700;
                        }
                    }
                }
            
            .instructions-programme {
              display: block;
              margin: 30px 0;
              padding: 20px;
              width: 100%;
              text-align: center;
              background-color: $color-blue-light;
              box-shadow: 0 0 15px 2px #c3d3e2, 0 0 5px 1px #c3d3e2;
              border-radius: 10px;
                
                h3 {
                  text-transform: uppercase;
                }
            
              }
                
            }

            .exercice-challenge {
              @media (min-width: 1150px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                padding-inline: 5vw;
              }
            }

          
            
          
        
    


            

   
  
  