@use "../utils/_variables.scss" as *;
@use "../utils/_mixins.scss" as *;


.wrapper-home {
width: 100%;
min-width: 100%;

  .fitness-home {
    min-width: 100vw;
    background: url("../assets/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 500px;
    opacity: 0.6;
    min-width: 100%;

    @media (min-width: 1300px) {
      height: 650px;
    }

        .fitness-block {
        position: absolute;
        transform: translateY(100%);
        width: 100%;
        background-color: rgb(255, 255, 255, .5);
        padding: .5em;

              h1 {
                margin: 35px auto -5px;
              }

        @media (min-width: 1300px) {
          transform: translateY(145%);

        }
        }
                h1 {
                  font-size: 3.5em;
                  font-size: clamp(2.5em, 5vw, 3.5em);
                }

                p {
                  font-size: 25px;
                }
                h1, p {
                  color: black;
                  font-weight: bold;
                  text-align: center;
                }            
              }

    .login-users {

        .form-container {
        width: 350px;
        margin: 45px auto;
        border-radius: 20px;
        padding: 15px 30px;
    

            h2 {
                font-weight: 500;
                font-size: 25px;
            }
            .img-block {
              width: 80%;
              padding: 2px;
              margin: auto;
              overflow: hidden;

                .picture-sport {
                  width: 100%;
                  height: auto; 
                  border-radius: 15px
                }
            }

            h3 {
              font-weight: bold;
              line-height: 1.4;
            }

        @include form;

        .btn-register  {
          margin-top: .5em;
          color: white;
          background-color: rgb(168, 164, 164);
         
          &:hover {
            background-color: rgb(138, 136, 136);
          }
             a {
                color: inherit;
                text-decoration: none;
             }
        }
    }
}

    .team-coachs {
      background-color: $color-beige;
      padding: 10px;
      padding-bottom: 45px;

        h2 {
          text-decoration: underline;
        }
    }

    @media (min-width: 768px) and (max-width: 1300px) {
      .form-container {
        width: 500px;
        box-shadow: none!important;
     
        .img-block {
          width: 400px;
          margin: auto;
        }
      }
    }
    
    
    @media (min-width: 1300px) {
      .login-users{
       
      .form-container {
        box-shadow: none;
      }
    
      .img-block { 
        width: 100%;
        height: 120px;
        border-radius: 25px;
        margin: auto;
    
       img {
          height: 120px!important;
        }
      }  
    }
  }
}