@use "../utils/_mixins.scss" as *;
@use "../utils/_variables.scss" as *;

.register-users {

    .register-description {
      background-color: $color-beige;
      font-size: 18px;
      padding: 30px;
      margin: 50px 0;
      border-radius: 10px;

        ul {
          line-height: 1.8;
        }

        .picture-sport {
          display: none;
        }
    }

    h3 {
        text-align: center;
        text-decoration: underline
    }

    @include form;

    .categories {

        .select-musculation {
            margin-top: 15px;
        }

        label {
          display: flex;
          gap: 10px;
          width: 20px;
          margin-left: 20px;
        }
    }
    
    select {
        width: 100%;
        margin-bottom: 20px;
        height: 30px;
    }

    }

    @media (min-width: 768px) and (max-width: 1200px) {

        .register-users {
    
            .form-container {
              box-shadow: none;
              width: 400px;
            }

          } 
        }
      

    @media (min-width: 1200px) {
        .register-users {
          display: flex;
        
        .register-description {
          width: 300px;
          margin: 30px 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          h2 {
            padding: 15px;
          }

          .picture-sport {
            display: block;
          }
        }

        .form-container {
            width: 500px;
          }
         
        } 
    }