@use "../utils/_variables.scss" as *;
@use "../utils/_mixins.scss" as *;

.wrapper-comments {
  width: 100%;

      h2 {
        margin-block: 1.5em;
      }

    .comment-container {
      display: block;
      margin-inline: auto;
      padding-inline: 5vw;

      .comment-item {

        p {
          margin-bottom: 1em;
          text-decoration: underline;
          font-size: 19px;

        }
      }

      .comments-wrapp {
        line-height: 25px;
        margin-inline: auto;
        max-width: 500px;
        padding-bottom: 1em;
        

        .comments-block {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1em;
          border-bottom: solid .5px rgba(0, 0, 0, 0.3);

          @media only screen and (max-width: 450px) {
            flex-direction: column;
            gap: 0;
          }

          .comment-title {
            color: $color-blue-dark;
            font-weight: 600;
            font-size: 22px;
          }

          p {
            font-size: 17px;
            font-style: italic;
            color: rgb(78, 78, 78);
          }
        }

        .comments-content {
          display: block;
          width: 100%;
          border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  
            p {
              line-height: 30px;
              text-align: left;
              max-width: 450px;
            }
          }
        }    
      }
   

      .btn-link {
        display: block;
        width: 100px;
        margin-inline: auto;
        cursor: pointer;
        background-color: $color-blue-light;
        border-radius: 5px;
        margin-bottom: 15px;

        &:hover { 
          background-color: #c3d3e2;  
          }
        }
      }
     

    .comment-add {
    padding-top: 25px;
    background-color: $color-blue-light;
    box-shadow: 0 0 15px 2px #c3d3e2, 0 0 5px 1px #c3d3e2;

        .form-crud {
            @include crudForm;
            padding-top: 0;
            width: 100%;
            max-width: 600px;

          .btn-block {

            .btn-submit {
              background-color: #fff;
              box-shadow: none;
            }

            .btn-submit:hover {
              background-color: #f0f0f0;;
            }
          }
        }
      }

      .section-comments {
        @media (min-width: 1150px) {
          grid-area: 1 / 2 / 4 / 3;
          width: 600px;
          width: 100%;
          margin-left: 1em;
        }

      }

        @media (min-width: 1150px) {

          .comment-add {
            grid-area: 2 / 1 / 3 / 2;
            border-radius: 15px;

          }
        }
      
    

        
      




    