@use "../utils/_variables.scss" as *;

h2 {
  text-decoration: underline;
}

.wrapper-comment {
  gap: 2em;
  margin-inline: 5vw;

  .splide {
    padding: .5em;

  .splide__arrow {
    background-color: $color-beige;
  }

    .comment-container {
      box-sizing: border-box;
      margin-inline: auto;
      background-color: #f2f2f2;
      padding: 2em;
      box-shadow: 0 2px 5px 3px rgba(3, 25, 37, 0.120), 0 0 20px 5px rgba(3, 25, 37, 0.120);
      width: 100%;
      border-radius: 20px;
      max-width: 500px;
    }

        .exercice-title {
          font-size: 22px;
          font-weight: 600;
          text-align: center;
          height: 80px;

          p {
            line-height: normal;
          }

        }

        .rating {
          text-align: center;
        }

        .rating:not(:checked) > input {
          position: absolute;
          appearance: none;
        }
        
        .rating:not(:checked) > label {
          font-size: 30px;
          color: #ff9e0b;
        }
        
        .rating:not(:checked) > label:before {
          content: '★';
        }
        
        .comment-user {
          color: rgb(78, 78, 78);
          text-align: center;
        }

        .comment-content {
          line-height: 1.5;
        }

      } 
  }



