footer {
    width: 350px;
    min-width: 100vw;
    margin: 25px auto;

    .footer-links {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1em;

        a {
            text-decoration: none;
            color: inherit;
            width: 150px;
            margin: auto;
            padding: 0.5em;
            &:hover {
                background-color: #f1efef;
              }
        }
    }

    h3 {
        text-align: center;
        font-size: 20px;
    }

    .icons-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-inline: auto;
        gap: 1em;

        .logo {
          width: 40px;
        }
    }
}