@use "../utils/_variables.scss" as *;

header {
  width: 100%;

  .wrapper-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 1px 2px 1px rgba(3, 25, 37, 0.1), 0 0 6px 1px rgba(3, 25, 37, 0.1);


    .logofit {
      width: 110px;
      border-radius: 150%;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-right: 2em;

    .main-menu {
      line-height: 1.8;
      padding-top: 2em;
      gap: 1em;
      list-style-type: none;
      justify-content: flex-end;
      align-items: center;

      li {
        a {
          text-decoration: none;
          font-size: 20px;
          color: black;
          margin: 1em;
          padding: .5em;
          width: 120px;

          &:hover {
            background-color: $color-beige;
            border-radius: 10px;
            }
          }

         button {
          background: none;
          text-align: center;
          border: none;
          cursor: pointer;
          transition: transform 0.2s; 

          &:hover {
            color: $color-blue-dark;
            transform: scale(1.1);
          }

          @media (max-width: 868px) {
            width: 90px;
            margin-top: 10px;
         }
        }
      }
    }
  }

 

  @media (min-width: 868px) {
      .hamburger-block {
        display: none;
      }

      .nav-menu {


        .main-menu {
          display: flex;
          flex-direction: row;
          
        }

      }

    }
  }
  
