@use "../../style/utils/variables" as *;

.container-exercice {
padding-top: 35px;
margin-inline: auto;

}

.exercice-challenge {
  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-inline: 5vw;
    margin-bottom: 50px;

  }
}




          
            
          
        
    


            

   
  
  